<div id='box' class="py-5 m-0">
  <div class="container text-center mt-3 text-light text-uppercase" style="width: 32rem;">
    <h1>Welcome to the longest word game</h1>
  </div>
  <div id="letters" class="container mt-3 p-5 rounded text-center" style="width: 60rem;">
    <% @letters.each do |letter| %>
      <button type="button" class="btn btn-info btn-lg font-weight-bold shadow"><%= letter %></button>
    <% end %>
  </div>

  <div id="answer" class="container text-center rounded" style="width: 100rem;">
    <h2 class="pt-4 text-light text-uppercase font-weight-bold">What is the longest word you can find?</h2>
    <form action="score" method="post" class="py-4" data-turbo="false">
      <input type="text" name="word" style="width: 22rem;">
      <input type="submit" class="btn btn-primary shadow btn-lg" value="Play">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :letters, @letters %>
    </form>
    <button type="submit" class="btn btn-info shadow font-weight-bold text-light btn-lg">New game</button>
    </div>
</div>
